{% assign honors = site.data.data.honors %}
{% if honors %}
<section class="section honors-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-award fa-stack-1x fa-inverse"></i>
    </span>
    {{ honors.title }}
  </h2>

  {% if honors.intro %}
  <div class="intro">
    {{ honors.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for honor in honors.honor %}
  <div class="item">
      <li>{{ honor.title }}</li>
      <div class="time">{{ honor.time }}</div>
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
